#first {
  background-image: url("images/image.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#second {
  background: rgb(248, 248, 248);
}

h3 {
  font-family: "Play", sans-serif;
  margin-bottom: 20%;
}

header {
  /* height: 25%; */
  font-family: "Lato", sans-serif;

  background: rgb(248, 248, 248);
}

main {
  /* height: 50%; */
  font-family: "Lato", sans-serif;
  background-color: white;
}

footer {
  /* height: 25%; */
  font-family: "Lato", sans-serif;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
